<template>
    <div class="full-width full-height">
        <div class="bg-client q-py-lg">
            <div class="row q-py-sm header-talent bg-white">
                <div class="col-md-2 col-sm-2 col-xs-6 q-px-md">
                    <q-img src="../assets/dc/logotalent.svg"></q-img>
                </div>
                <q-space />
                <div class="col-md-7 col-sm-9 text-right q-gutter-x-lg">
                    <q-btn flat class="header-button gt-xs">About</q-btn>
                    <q-btn flat class="header-button gt-xs">Partnership</q-btn>
                    <q-btn flat class="header-button gt-xs">Service</q-btn>
                    <q-btn class="bg-purple header-button text-white">Contact Us</q-btn>
                </div>
            </div>

            <div class="row box">
                <div class="col-md-7 col-sm-7 col-xs-12">
                    <div class="text-herotalent">
                        Cultivate your technical skill for production
                    </div>
                     <div class="text-herocaption text-white q-py-md">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br>
                        Aliquet suspendisse sit nulla urna, accumsan egestas<br>
                        eleifend hendrerit facilisi. Hac dolor ante.
                    </div>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-8 picture-mobile">
                    <q-img src="../assets/dc/talentheros.svg" ></q-img>
                </div>
            </div>
        </div>

        <div class="bg-dc q-py-xl">
            <div class="row box q-pt-md">
                <div class="col-md-6 col-xs-5">
                    <div class="text-rufina">
                       Digital Cultivation
                    </div>
                </div>
                <div class="col-md-5 col-xs-7">
                    <div class="text-herocaption text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Aliquet suspendisse sit nulla urna, accumsan egestas
                        eleifend hendrerit facilisi. Hac dolor ante.
                    </div>
                </div>
            </div>
            <div class="row justify-center">
                <div class="col-md-8 col-xs-10">
                <div class="text-path">We give freedom to the talent to choose their preferred path. </div>
                <div class="k-box"><q-img src="../assets/dc/path.svg"></q-img></div>
                </div>
            </div>
         </div>

         <div class="bg-mentor q-py-lg">
            <div class="row box">
                <div class="col-md-5 col-sm-5 col-xs-12">
                    <div class="text-mentor">
                      Learn from your<br>experienced<br><span class="text-purple">mentor for free.</span>
                    </div>
                    <div class="text-herocaption text-black k-box">
                      Iqbal Baharum, tech expert with a background of more than 10-years in the Tech & Software Industries and has experience working with Malaysian and UK companies. Passionate about guiding tech talent in tech development.
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-8">
                    <div>
                        <q-img class="q-ma-xl" src="../assets/dc/iqbal.png"></q-img>
                    </div>
                </div>
            </div>
            <div class="row justify-between" style="margin: 5% 20% 5% 20%">
                <div class="col-2">
                     <q-img src="../assets/dc/mentor.svg"></q-img>
                     <div class="k-caption">Mentor</div>
                </div>
                <div class="col-2 ">
                     <q-img src="../assets/dc/community.svg"></q-img>
                     <div class="k-caption">Community</div>
                </div>
                <div class="col-2">
                     <q-img src="../assets/dc/networking.svg"></q-img>
                     <div class="k-caption">Networking</div>
                </div>
                <div class="col-2">
                     <q-img src="../assets/dc/project.svg"></q-img>
                     <div class="k-caption">Project</div>
                </div>
                <div class="col-12 text-center">
                <q-btn color="purple" class="box-button">Join Our Community</q-btn>
                </div>
            </div>
         </div>

        <div class="bg-mix">
            <div class="box text-maininfo">More on Digital Cultivation.</div>
            <div class="row justify-center text-center" style="margin: 5% 3% 3% 3%">
                <div class="col-md-3 col-sm-3 col-xs-10 card1">
                     <div class="text-info1">Who is eligible ?</div>
                     <q-card class="card-mix">
                         <q-card-section>
                            <img src="~assets/dc/Frame.svg">
                         </q-card-section>
                         <q-card-section class="text-info2">
                             Everyone is eligible but we prefer someone who is passionate to learn and have some basic knowledge in html &css.
                         </q-card-section>
                     </q-card>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-10 card2">
                     <div class="text-info1" >What will I learn ?</div>
                     <q-card class="card-mix">
                         <q-card-section>
                            <img src="~assets/dc/Frame.svg">
                         </q-card-section>
                         <q-card-section class="text-info2">
                             Our programme let talent to choose their preferred path. You will discover it through the 1-on-1 session with the mentor. The class are flexible and informal.
                         </q-card-section>
                     </q-card>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-10 card1">
                     <div class="text-info1">How about the project ?</div>
                     <q-card class="card-mix">
                         <q-card-section>
                            <img src="~assets/dc/Frame.svg">
                         </q-card-section>
                         <q-card-section class="text-info2">
                             Our goal is to produce a production ready developer. You will involve in max 5 real-industry projects to strengthen your portfolio.
                         </q-card-section>
                     </q-card>
                </div>
            </div>
        </div>

        <div class="bg-afterdc">
             <div class="row justify-center">
                <div class="col-md-10 col-xs-10">
                    <q-card class="roadmap">
                        <div class="text-maininfo text-purple text-center">Individual Roadmap</div>
                        <q-card-section class="q-gutter-y-md q-mt-sm">
                            <q-img class ="gt-xs" src="../assets/dc/roadmap.svg"></q-img>
                            <q-img class ="lt-sm" src="../assets/dc/roadmap1.svg"></q-img>
                            <q-img class ="lt-sm" src="../assets/dc/roadmap1.svg"></q-img>
                        </q-card-section>
                    </q-card>
                </div>
            </div>
            <div class="row box">
                <div class="col-md-6 col-sm-6 text-center">
                     <q-img src="../assets/dc/afterdc.png" style="width:65%; height:98%"></q-img>
                </div>
                <div class="col-md-5 col-sm-6">
                    <div class="text-mentor">
                        <span class="text-purple">After</span> Digital<br>Cultivation.
                    </div>
                    <div class="text-herocaption text-black q-pt-md q-pr-xl">
                        Iqbal Baharum, tech expert with a background of more than 10-years in the Tech & Software Industries and has experience working with Malaysian and UK companies. Passionate about guiding tech talent in tech development.
                    </div>
                </div>
                <div class="col-xs-12 lt-sm q-py-xl">
                     <q-img src="../assets/dc/afterdc.png" style="width:60%; height:95%"></q-img>
                </div>
            </div>
        </div>

        <div class="bg-contact">
            <div class="row box">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="text-mentor">
                        Start Your Application
                    </div>
                    <div class="text-herocaption text-black q-py-md q-pr-xl">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet suspendisse sit nulla urna, accumsan egestas.
                    </div>
                    <div class="q-pb-sm">
                        <q-btn no-caps color="purple" class="k-button" >Apply Now</q-btn>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-10 text-center q-pb-xl picture-mobile">
                     <q-img src="../assets/dc/application.svg" style="width:60%; height:100%"></q-img>
                </div>
            </div>
        </div>
<!--
        <div class="bg-dc">
            <div class="row box">
                <div class="col-1 q-mt-lg">
                   <q-img src="~assets/dc/dc.png"></q-img>
                </div>
                 <div class="col-10 text-white q-gutter-y-lg">
                    <div class="row flex justify-center q-gutter-x-xl">
                        <div><a href="/Blog"><span class="text-white">+ ABOUT</span></a></div>
                        <div><a href="/Homepage"><span class="text-white">+ PATH</span></a></div>
                        <div><a href="/Homepage"><span class="text-white">+ BENEFITS</span></a></div>
                        <div><a href="/Homepage"><span class="text-white">+ ROADMAP</span></a></div>
                        <div><a href="/Homepage"><span class="text-white">+ MORE INFO</span></a></div>
                    </div>
                    <div class="row flex justify-center q-gutter-x-xl">
                        <div><a href="/Blog"><span class="text-white">+ AFTER DC</span></a></div>
                        <div><a href="/Homepage"><span class="text-white">+ FAQ</span></a></div>
                        <div><a href="/Homepage"><span class="text-white">+ CONTACT</span></a></div>
                        <div><a href="/Homepage"><span class="text-white">+ BUSINESS</span></a></div>
                    </div>
                    <div class="row flex justify-center q-gutter-x-xl" style="margin-top:9%; margin-bottom:-5%;">
                        <div>©2022 ACCEPTBY. All rights reserved.</div>
                        <div>www.digitalcultivation.com</div>
                    </div>
                </div>
                <div class="col-1 q-gutter-y-md">
                    <div><img src="~assets/dc/discord.png" style="width:30%; height:30%;"></div>
                    <div><img src="~assets/dc/insta.png" style="width:30%; height:30%;"></div>
                    <div><img src="~assets/dc/fb.png" style="width:33%; height:32%;"></div>
                </div>
            </div>
        </div> -->

    </div>
</template>
